<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre mí</title>
</head>
<body>
    <h1 align="center">Sobre mi</h1> 
    <p>Me considero una persona muy positiva, muy responsable con mis trabajos y sobre todo respetuosa. Tengo una hija de 5 años, Sofía, a la cual le dedico todo el tiempo posible, es lo mas valioso de mi vida.
    <p>En mis tiempos libres me gusta mucho tejer, leer y pintar.</p>
    <p>Soy Maestra de Nivel Inicial (me queda un taller para recibirme) y ahora me encuentro explorando nuevas ramas, empece un nuevo trabajo como Acompañante Terapeútica de un niño de cuatro años, Felipe. Con él comparto todas mis mañanas en el jardín. Es algo nuevo para mí y al mismo tiempo un desafío, pero me siento muy contenta con esta nueva oportunidad que se me presentó.</p>
    </p>He postergado la finalización de la carrera de Maestra de Nivel Inicial (me queda un taller), por temas de organización de la institución luego de la pandemia. Pero es una de mis metas a cumplir también.</p>
    <p>Este año opté por elegir esta carrera de Certified Tech Developer porque era algo pendiente de hace muchos años.</p> 
    <span><a href="../index.html">Volver</a></span>
</body>
</html>